.countries-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

.command {
    font-style: italic;
    text-decoration: underline;
    color: blue;
    font-weight: 900;
}